/* app */

scrolledwindow.frame {
    border: none;
    border-width: 0px;
}

.select-all-button,
.previous-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-none-button,
.next-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tool-button {
  margin-left: 5px;
}

/* placeholder */

.placeholder {
    color: @insensitive_fg_color;
    background-color: @theme_base_color;
}
.placeholder label {
    margin: 10px;
    font-size: 20px;
}

/* about */

.about-box {
    margin: 10px 20px;
    margin-top: 60px;
}
.about-box .name-label {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
}
.about-box .version-label {
    margin-top: 10px;
    font-size: medium;
}
.about-box .description-label {
    margin-top: 15px;
    font-size: medium;
}
.about-box .website-label {
    margin-top: 10px;
    font-size: medium;
}
.about-box .author-label {
    margin-top: 10px;
    font-size: small;
}
.about-box .license-label {
    margin-top: 10px;
    font-size: small;
}

/* credits */

.credits-grid {
    font-size: small;
    margin: 20px 0px;
}

.credits-grid .credits-label {
    font-weight: bold;
    margin-right: 5px;
}

/* menu */

.menu-box {
    margin: 5px;
}
.menu-box .menu-title {
    font-weight: bold;
    padding: 7.5px;
}
.menu-box .menu-item {
    padding: 7.5px;
}

/* loading */

.loading {
    background-color: @theme_base_color;
}
.loading-bar {
    margin: 10px 10px;
}
.loading-bar trough,
.loading-bar trough progress {
    min-height: 5px;
}
.loading-bar trough progress {
    border-color: @insensitive_fg_color;
    background-color: @insensitive_fg_color;
}
.loading-label {
    color: @insensitive_fg_color;
    margin: 10px;
    font-size: x-large;
}
.loading-description {
    color: @insensitive_fg_color;
    margin: 10px;
    font-size: small;
    font-weight: bold;
}
.loading-details {
    color: @insensitive_fg_color;
    margin: 0px;
    font-size: x-small;
}

/* files */

treeview.view {
    padding-left: 0px;
}

/* go to top button */

.go-top-button {
    border: none;
    box-shadow: none;
    border-radius: 9999px;
    margin: 12px;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
}

/* properties */

.properties {
    margin: 0px 25px 25px 25px;
}

.properties preferencesgroup {
    margin-top: 25px;
}

.properties .property {
    margin: 10px;
    font-size: medium;
}

.properties .value {
    margin: 10px;
    font-size: medium;
    color: @insensitive_fg_color;
}

/* places */

.places {
    margin: 25px;
}

.devices-group > box {
    margin-top: 15px;
}

label.no-places {
    margin: 10px;
    font-size: 20px;
    color: @insensitive_fg_color;
}

.eject-button {
    border: none;
    box-shadow: none;
    border-radius: 9999px;
}

/* passphrase screen */

.passphrase-details {
    color: @insensitive_fg_color;
    margin: 10px;
    font-size: small;
    font-weight: bold;
}

.passphrase-spinner {
    margin: 10px;
}
